@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

:root {
  --title-color: white;
  --primary-color: #626464;
  --secondary-color: coral;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

p {
  margin: 0.75rem 0;
}

span {
  font-weight: bold;
  color: var(--secondary-color);
}
/* Utility Classes */
.container {
  /* display: block; */
  max-width: 1000px;
  margin: auto;
  /* margin-left: auto;
  margin-right: auto;
  width: 50%; */
  /* padding: 0 2rem;
  overflow: hidden; */
  /* box-shadow: 10px 10px 5px grey; */
}

.text-primary {
  color: #fff;
}

.text-center {
  text-align: center;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.bg-light {
  background: white;
  color: rgb(80, 79, 79);
}

.bg-dark {
  background: var(--primary-color);
  color: white;
}

.bg-primary {
  background: coral;
  color: #fff;
}

.btn:hover {
  background: var(--secondary-color);
  color: white;
}

.btn-dark {
  background: #333;
  color: #fff;
}
/* .btn-light {
  background: #fff;
  color: #333;

} */

.py-1 {
  padding: 1.5rem 0;
}

.p-2 { padding: 2rem; }

/* Navigation Bar */
#navbar {
  display: flex;
  background: var(--primary-color);
  color: rgb(255, 255, 255);
  padding: 1rem;
  top: 0;
  position: sticky;
  z-index: 1;
  justify-content: space-between;
  border: coral;
  border-bottom-style: solid;
}

#navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

#navbar ul li {
  color: #e7e7e7;
  display: inline-block;
  padding: 1rem;
  position: relative;
}

#navbar ul li a {
  color: #e7e7e7;
  text-decoration: none;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

/* Hide nested ul by default */
#navbar ul li ul {
  display: none;
}

#navbar ul li:hover {
  cursor:pointer;
  color: white;
  background:var(--primary-color);
}

 #navbar ul li:hover a {
  color:#fff;
}

/* Nested dropdown show */
#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
  background: #fff;
}

#navbar ul li:hover ul li {
  display: block;
  background: #fff;
}

#navbar ul li:hover ul li a {
  color: #888787;
  /* color: #476b6b; */
}

#navbar ul li:hover ul li a:hover {
  color: #fff;
}

#navbar ul li:hover ul li:hover {
  background: var(--secondary-color);
  color: #fff;
}

#navbar li ul{
  display: none;
}

/* Showcase */
#showcase {
  background:  url('../img/pexels-oliver-sjöström-1122413.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #888787;
  /* border: coral;
  border-bottom-style: solid; */
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 120px;
  left:0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.4); */
}

/* #what {
  background:  url('../img/pexels-oliver-sjöström-1122413.jpg') no-repeat center center/cover;

} */

/* Section: What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
}

#what .items .item i {
  /* background: #ffffff; */
  /* padding: 2rem;
  border-radius: 50%;
  border: solid 1px; */
/*  I want to add a border line??*/
  margin-bottom: 1rem;
}

.button {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition: 0.3s;
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 0.6;
}

.button:hover {
  background-color:rgb(255, 255, 255);
  color: var(--primary-color);
  opacity: 1;
}
/* Feature */
/* #feature .flex-photos{
  display: flex;
  padding: 8px;
  flex-direction: row;
  align-items: center;
}

#feature img{
  width: 100%;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Create four equal columns that floats next to eachother */
/* .column {
  float: left;
  width: 33%;
} */

/* The Modal (background) */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
} */

/* Modal Content */
/* .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
} */

/* The Close Button */
/* .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
} */

/* Login Page display */
.modal-header, h4, .close{
  background-color: var(--primary-color);
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: var(--primary-color);
}
/* IMAGE SLIDESHOW ON MAIN PAGE */
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  padding: 1px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: coral;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: coral;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Five columns side by side */
.column {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumbnail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* HOLIDAY RENTAL PAGE */
.feature-section {
  list-style-type: none;
  border:solid  #cac8c8 0.5px;
  border-radius: 9px;
  /* padding: 1px;
  margin: 15px; */
  box-shadow: 8px 0px 5px rgb(204, 201, 201);
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* FOOTER */
/* Add a hover effect if you want */
.fab:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fab {
  background:var(--primary-color);
  color: white;
}
/* Section: Contact */
#contact  {
  display: flex;
}

#contact .map, #contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}