@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  box-sizing: border-box;
  transition: background-color .3s;
  margin:0;
  padding: 0;
  /* Contact section */
  -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	/* font-smoothing:antialiased;
	text-rendering:optimizeLegibility; */
}
:root {
  --title-color: white;
  --primary-color: #626464;
  --secondary-color: coral;
}
body {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
p {
  margin: 0.75rem 0;
}
span {
  font-weight: bold;
  color: var(--secondary-color);
}
/* Utility Classes */
.container {
  /* display: block; */
  max-width: 1000px;
  margin: auto;
  /* margin-left: auto;
  margin-right: auto;
  width: 50%; */
  /* padding: 0 2rem;
  overflow: hidden; */
  /* box-shadow: 10px 10px 5px grey; */
}
.text-primary {
  color: #fff;
}
.text-center {
  text-align: center;
}
.l-heading {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.m-heading {
  font-size: 2rem;
  margin-bottom: 0px 0.75rem;
  text-align: center;
  line-height: 1.1;
  /* border-bottom:2px solid var(--secondary-color); */
  /* width: 20rem; */
  /* display: flex;
  justify-content: center; */ 
  /* font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem ;
  padding: var(--secondary-color);
  text-align: center;
  font-weight: 100;
  margin-block-end: 0.83em; */
}
.lead {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
  background-color: var(--title-color);
}
.bg-light {
  background: white;
  color: rgb(80, 79, 79);
}
.bg-dark {
  background: var(--primary-color);
  color: var(--title-color);
}
.bg-primary {
  background: coral;
  color: #fff;
}
.btn:hover {
  background: var(--secondary-color);
  color: white;
}
.btn-dark {
  background: #333;
  color: #fff;
}
/* .btn-light {
  background: #fff;
  color: #333;
} */
.py-1 {
  padding: 1rem 0; }
.py-2 {
  padding: 2rem 0; }
.py-3 {
  padding: 3rem 0; }
.py-4 {
  padding: 4rem 0; }
.my-1 {
  margin: 1rem 0; }
.my-2 {
  margin: 2rem 0; }
.my-3 {
  margin: 3rem 0; }
.my-4 {
  margin: 4rem 0; }
.bottom-line {
  height: 2px;
  width: 3rem;
  background: var(--primary-color);
  display: block;
  margin: 0 auto 1rem auto; }
.p-2 { padding: 2rem; }
/* Navigation Bar */
/* #navbar {
  display: flex;
  background: var(--primary-color);
  color: rgb(255, 255, 255);
  padding: 1rem;
  top: 0;
  position: sticky;
  z-index: 1;
  justify-content: space-between;
  border: coral;
  border-bottom-style: solid;
}
#navbar ul {
  
  display: flex;
  list-style: none;
  align-items: center;
}
#navbar ul li {
  color: #e7e7e7;
  display: inline-block;
  padding: 1rem;
  position: relative;
}
#navbar ul li a {
  color: #e7e7e7;
  text-decoration: none;
  padding: 0.75rem;
  margin: 0 0.25rem;
} */
/* Hide nested ul by default */
/* #navbar ul li ul {
  display: none;
}

#navbar ul li ul li:hover {
  cursor: pointer;
  color: white;
  background:var(--primary-color);
}
 #navbar ul li:hover a {
  color:#fff;
} */
/* Nested dropdown show */
/* #navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
  background: #fff;
}
#navbar ul li:hover ul li {
  display: block;
  background: #fff;
}
#navbar ul li:hover ul li a {
  color: #888787;
  /* color: #476b6b; 
} */
/* Responsive top navigation */
.sidenav {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: var(--title-color);
  background-color: var(--secondary-color);
  overflow-x: hidden;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  color: var(--title-color);
}
.sidenav a:hover {
  /* color: #f1f1f1; */
  color: var(--title-color);
  background-color:var(--primary-color);
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .closebtn:hover {
  background-color: var(--secondary-color);
}
#main {
  transition: margin-left .3s;
  padding: 16px;
}
/* Showcase */
#showcase {
  background:  url('../img/pexels-oliver-sjöström-1122413.jpg') no-repeat center center/cover;
  /* background:  url('../img/pexels-luis-martinez-4078617.jpg') no-repeat center center/cover; */
  height: 100vh;
  color: var(--primary-color);
  /* border: coral;
  border-bottom-style: solid; */
}
#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 120px;
  left:0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.4); */
}
#what {
  /* background:  url('../img/pexels-oliver-sjöström-1122413.jpg') no-repeat center center/cover; */
  margin: 1rem;
  padding: 1rem;
  /* border: solid 1px rgb(204, 201, 201); */
  /* border-radius: 20px; */
  /* border-radius: 0.5rem; */
  /* box-shadow: 8px 5px 5px rgb(204, 201, 201); */
  /* box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);}  */
/* Section: What We Do */
}
#what .items {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
#what .items .item {
  flex: 1;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  /* box-shadow: 8px 5px 5px rgb(204, 201, 201); */
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  height: 400px;
  width: 400px;
  margin: 2rem;
}
#what .items .item i {
  /* background: #ffffff; */
  /* padding: 2rem;
  border-radius: 50%;
  border: solid 1px; */
/*  I want to add a border line??*/
  margin-bottom: 1rem;
}
.button {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  transition: 0.3s;
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 0.8;
}
.button:hover {
  background-color:rgb(255, 255, 255);
  color: var(--primary-color);
  opacity: 1;
}
/* Card Feature */
#card-items {
  display: grid;
  place-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  line-height: 1.5s;
}
#card-items .card {
  --card-gradient: rgba(0, 0, 0, 0.8);
  /* --card-gradient: #5e9ad9, var(--primary-color); */
  --card-blend-mode: overlay;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  background-image: linear-gradient(var(--card-gradient), white max((9.5rem, 27vh)));
  overflow: hidden;
}
#card-items img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  transition: width 0.5s height 0.5s;
  object-fit: cover;
  max-height: max(1rem, 30vh);
  aspect-ratio: 6/3;
  mix-blend-mode: var(--card-blend-mode);
}
#card-items > :last-child {
  margin-bottom: 0;
}
#card-items .card:hover, #card-items .card:focus-within {
  --card-gradient: var(--secondary-color) max(8.5rem, 20vh);
  width: 105%;
  height: 105%;

}
#card-items .card h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
}
#card-items .card a {
  color: inherit;
}
#card-items .card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 4rem;
  max-width: 100vw;
  width: 200ch;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
/* Feature */
/* #feature .flex-photos{
  display: flex;
  padding: 8px;
  flex-direction: row;
  align-items: center;
}
#feature img{
  width: 100%;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Create four equal columns that floats next to eachother */
/* .column {
  float: left;
  width: 33%;
} */

/* The Modal (background) */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
} */

/* Modal Content */
/* .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
} */

/* The Close Button */
/* .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
} */
/* Login Page display */
.modal-header, h4, .close{
  background-color: var(--primary-color);
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: var(--primary-color);
}
/* IMAGE SLIDESHOW ON MAIN PAGE */
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  padding: 1px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  /* cursor: pointer;
  position: absolute;
  top: 40%;
  width: 1px;
  padding: 15px;
  padding-left: 2px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 25px;*/
  cursor: pointer;
  position: absolute;
  top:40%;
  width: auto;
  /* margin-top: 1.25rem; */
  margin-top: -20px;
  /* padding: 1px; */
  /* padding-left: 2px; */
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-left:10px;
  /* margin-right: 15px; */
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; 
}
/* Position the "next button" to the right */
.next {
  right:0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--secondary-color);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Container for image text */
.caption-container {
  text-align: center;
  background-color: coral;
  padding: 2px 16px;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Five columns side by side */
.column {
  float: left;
  width: 20%;
}
/* Add a transparency effect for thumbnail images */
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
/* HOLIDAY RENTAL PAGE */
.feature-section {
  /* background-color:rgb(192, 247, 65); */
  list-style-type: none;
  border:solid  #f0efef 2px;
  border-radius: 5px;
  padding: 1px;
  margin: 10px;
  box-shadow: 8px 0px 5px #f0efef;
  /* display: block; */
  margin-left: 70px;
  /* margin-right: auto; */
  width: 50%;
}
.feature-section-2{
  list-style-type: none;
  display: flex;
  
  /* direction: inherit; */
  align-self:right;
  align-items: center;
  border:solid  #f0efef 1px;
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
  /* display: block; */
  /* box-shadow: 8px 0px 5px #f0efef; */
  margin-right: 70px;
  margin-left: 70px;
  max-width: 90%;
}
/* FOOTER */
/* Add a hover effect if you want */
.fab:hover {
  opacity: 0.7;
}
/* Set a specific color for each brand */

/* Facebook */
.fab {
  background:var(--primary-color);
  color: white;
}
/* Section: Contact */
.contact-section {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	position: relative;
  /* border: solid 1px grey; */
  border-radius: 2px;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] 
{ font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
 #contact {
  background: #f9f9f9;
  padding: 25px;
  margin: 10px 0;
}
contact h3 {
  color: #f96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}
#contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 15px;
}
.contact-section fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width: 100%;
	border: 1px solid #CCC;
	background:#FFF;
	margin: 0 0 6px;
	padding: 10px;
}
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact textarea {
	height: 100px;
	max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:coral;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
#contact button[type="submit"]:hover {
	background:rgb(155, 124, 113);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline: 0;
	border: 1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
/*
#contact-section .map, #contact-section {
  flex: 1;
}
#contact .contact-form .form-group {
  margin: 0.75rem;
}
#contact .contact-form fieldset {
  display: block;
}
#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
} */
.flex-contact {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
#flex-item-left {
  background-color: #fff;
  padding: 10px;
  /* flex: 50px; */
}
/* #flex-item-right {
  background-color: #fff;
  padding: 10px;
  /* flex: 50px; 
} */

/* Set the size of the div element that contains the map */
/* #map {
  height: 400px;
  /* The height is 400 pixels */
  /* width: 100%; */
  /* The width is the width of the web page
} */
